@model IEnumerable<SurfShop_MVC.Models.Product>

@{
    ViewBag.Title = "ViewOnly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shop Products</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <button class="btn btn-primary"><a class="text-white" style="text-decoration:none" href="https://paypal.me/ChadM95?country.x=IE&locale.x=en_US">Buy It Now!</a></button>
        </td>
    </tr>
}

</table>
